@define-color bg-primary #2b305b;
@define-color bg-secondary #64729d;
@define-color bg-transparent rgba(0, 0, 0, 0);
@define-color color-regular #e3e3f7;
@define-color color-disabled #c3c3e7;

* {
	font-family: FiraCore Nerd Font;
}
window {
	background-color: @bg-transparent;
}
/* Waybar */
.modules-left,
.modules-center,
.modules-right {
	color: @color-regular;
}

/* Icons Sections */
#custom-upper-left,
#custom-upper-right {
	background-color: @bg-secondary;
	color: @bg-primary;
	font-size: 24px;
}
#custom-upper-left-secondary,
#custom-upper-right-secondary {
	background-color: @bg-primary;
	color: @bg-secondary;
	font-size: 24px;
}

/* Transparent backgrounds */
#custom-upper-left-transparent,
#custom-upper-right-transparent,
#custom-upper-left-secondary-transparent,
#custom-upper-right-secondary-transparent {
	background-color: @bg-transparent;
	font-size: 24px;
}
#custom-upper-left-secondary-transparent,
#custom-upper-right-secondary-transparent {
	color: @bg-secondary;
}
#custom-upper-left-transparent,
#custom-upper-right-transparent {
	color: @bg-primary;
}

#custom-appmenu,
#workspaces button,
#cpu,
#temperature,
#custom-cava,
window,
#custom-arch,
#clock,
#dot-wallpaper,
#network,
#pulseaudio,
#pulseaudio#microphone,
#custom-bluetooth,
#blacklight,
#battery,
#custom-power {
	padding: 0 10px;
}
/* Etiqueta de icono */
span {
	font-size: 24px;
}
/* markup */

/* left */
#custom-appmenu {
	background-color: @bg-primary;
}

#workspaces {
	background-color: @bg-secondary;
}
#workspaces button.active {
	color: @color-regular;
}
#workspaces button:hover {
	color: @color-regular;
	box-shadow: inherit;
	text-shadow: inherit;
}
/* Performance */
#cpu,
#temperature {
	background-color: @bg-primary;
}

/* center */
#custom-arch,
#clock,
#custom-dot-wallpaper {
	background-color: @bg-secondary;
}
/* right */
network {
	background-color: @bg-transparent;
}
#custom-cava {
	background-color: @bg-primary;
}
/* status */
#pulseaudio,
#custom-bluetooth,
#pulseaudio#microphone {
	background-color: @bg-secondary;
}
#custom-bluetooth.off {
	color: @color-disabled;
}
/* system */
#backlight,
#battery,
#custom-power {
	background-color: @bg-primary;
}
