@define-color bg_primary #2b305b;
@define-color bg_secondary #64729d;
@define-color bg_transparent rgba(0, 0, 0, 0);
@define-color color_regular #e3e3f7;
@define-color color_disabled #c3c3e7;

.background {
	background-color: @bg_transparent;
}

.launcher-yofi {
	background-color: @bg_primary;
}

.workspaces {
	background-color: @bg_secondary;
}

.workspaces .item {
	background-color: @bg_secondary;
}

.workspaces .item .text-icon {
	color: @color_regular;
}

.workspaces .item.focused {
	box-shadow: inherit;
	text-shadow: inherit;
}

.performance {
	background-color: @bg_primary;
	color: @color_regular;
}

#bar #center {
	background-color: @bg_secondary;
}

.network {
	background-color: @bg_transparent;
}
