@define-color bg_primary #2b305b;
@define-color bg_secondary #64729d;
@define-color bg_secondary_btn #54628d;
@define-color bg_transparent rgba(0, 0, 0, 0);
@define-color color_regular #e3e3f7;
@define-color color_disabled #c3c3e7;

.background {
	background: @bg_transparent;
}

#bar {
	font-family: FiraCode Nerd Font, sans-serif;
}

.item,
button,
.label,
.script {
	border: none;
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
	padding: 0;
	color: @color_regular;
	background: @bg_transparent;
}

.icon {
	font-size: 34px;
}

.l-edge,
.r-edge,
.l-edge-transp,
.r-edge-transp {
	color: @bg_primary;
	background: @bg_secondary;
}

.l-edge-second,
.r-edge-second,
.l-edge-second-transp,
.r-edge-second-transp {
	color: @bg_secondary;
	background: @bg_primary;
}

.l-edge-transp,
.r-edge-transp,
.l-edge-second-transp,
.r-edge-second-transp {
	background: @bg_transparent;
}

.launcher-yofi,
.workspaces,
.performance,
.window,
.clock,
.network,
.cava,
.volume,
.bluetooth,
.wlogout {
	padding: 0 10px;
}

.launcher-yofi {
	background: @bg_primary;
}

.workspaces {
	background: @bg_secondary;
}

.workspaces .item {
	padding: 5px;
	margin: 2px;
	border-radius: 4px;
	background: @bg_secondary_btn;
}

.workspaces .item.inactive {
	color: @color_disabled;
}

.workspaces .item:nth-child(1) {
	padding-right: 10px;
}

.workspaces .item:nth-child(2),
.workspaces .item:nth-child(3) {
	padding-right: 15px;
}

.performance {
	background: @bg_primary;
}

.clock {
	background: @bg_secondary;
}

.network {
	background: @bg_transparent;
}
.cava {
	background: @bg_primary;
}
.bluetooth,
.volume {
	background: @bg_secondary;
}

.memory,
.wlogout {
	background: @bg_primary;
}
