Config(
    prefix: "?",
    engines: [
        Custom(
            name: "Brave",
            url: "https://search.brave.com/search?q={}",
        ),
        Custom(
            name: "DuckDuckGo",
            url: "https://duckduckgo.com/?q={}",
        ),
        Custom(
            name: "YouTube",
            url: "https://www.youtube.com/results?search_query={}",
        ),
        Custom(
            name: "GitHub",
            url: "https://github.com/search?q={}",
        ),
        Custom(
            name: "Arch Wiki",
            url: "https://wiki.archlinux.org/index.php?search={}",
        ),
        Custom(
            name: "AUR",
            url: "https://aur.archlinux.org/packages?K={}",
        ),
    ],
)
