Config(
    prefix: "?",
    engines: [
        Custom(
            name: "Brave",
            url: "search.brave.com/search?q={}",
        ),
        Custom(
            name: "DuckDuckGo",
            url: "duckduckgo.com/?q={}",
        ),
        Custom(
            name: "YouTube",
            url: "youtube.com/results?search_query={}",
        ),
        Custom(
            name: "GitHub",
            url: "github.com/search?q={}",
        ),
        Custom(
            name: "Arch Wiki",
            url: "wiki.archlinux.org/index.php?search={}",
        ),
        Custom(
            name: "AUR",
            url: "aur.archlinux.org/packages?K={}",
        ),
    ],
)
